<div id="navbar-menu" class="navbar-menu is-static">
    <div class="navbar-end">
        <div class="navbar-item ">
            <button class="button is-small is-rounded is-primary is-outlined">About</button>
            <button class="button is-small is-rounded is-primary is-outlined">Docs</button>
            <a href="https://github.com/miineidi">
                <button class="button is-small is-rounded is-dark">
                        <span class="icon">
                            <i class="fa fa-github"></i>
                        </span>
                        <span>GitHub</span>
                </button>
            </a>
        </div>
    </div>
</div>
<section class="hero is-fullheight is-default is-bold">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-5 is-offset-1 landing-caption">
                    <h1 class="title is-1 is-bold is-spaced has-text-white">
                        Miineidi, BlockChain.
                    </h1>
                    <h2 class="subtitle is-5 is-muted has-text-grey-light">An Open-Source Blockchain Projet for Land Management </h2>
                    <div class="button-wrap">
                        <a href="#" class="button cta is-rounded is-primary raised">
                                Get Started
                        </a>
                    </div>
                </div>
                <div class="column is-5">
                    <figure class="image is-4by3">
                        <img src="assets/img/blocks.svg" alt="Description">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>
<router-outlet>

</router-outlet>